body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(57, 57, 57);
}
.desc {
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 10px;
}
.flex-contain {
    display: flex;
    justify-content: center;
}
.heading {
    font-weight: bold;
    font-size: 72px;
    color: orange;
    display: flex;
    justify-content: center;
    margin: 8px 25vh 2px 25vh;
}
div {
    text-align: center;
    color: orange;
}
div div div{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 400px;
}
button {
    font-size: 56px;
    font-weight: 700;
    color: orange;
    min-height: 150px;
    min-width: 300px;
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    border-style: none;
    margin: 2px;
    
}
.container.div div {
    margin-left: 25vw;
    margin-right: 25vw;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.winner {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(70, 70, 70);
    border-radius: 15px;

}